<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<head>
    <title>Cory</title>
</head>
<body background ="http://luxehdwallpaper.com/wallpaper/2012/11/star-wars-1680x1050-hd-wallpaper.jpg">



<h3> <a href="http://fontmeme.com/star-wars-font/"><img src="http://fontmeme.com/create.php?text=MLB%20Wiki&name=Star_Jedi_Rounded.ttf&size=35&style_color=B32D24" alt="Star Wars Font" title="FontMeme.com" /></a><h3>
</div>
</div>

<h3> Search for a player </h3>

<!-------------This makes the search box and submit button with the face-------->

<form action="SearchProPlayer.html" method="get">
Player Name: <input type="text" name="pro-player-input">
<input type=submit name="null" value=" Search ">
</form>
 
<!----------------------this makes the yes/no button and message ------------>
<td>
<font color="red">{{message}}</font>

{% if notFound %}
<form action="SearchProPlayer.html" method="get">
<font color="red">{{ notFound }}</font>
<button type=submit name="pro-player-input" value="yes">yes</button>
<button type=submit name="pro-player-input" value="no">no</button>
</form>
{% endif %}
</td>


<!------------------this makes the players table and fills it------------>
{% if dbPlayers %}
<br><font size = "3" face="aharoni" color="003399">Personal Info</font>
<table width="800px" border ="3" cellspacing ="2" cellpadding ="1" bgcolor="#66CCCC">
	<tr>
	<td width="100px"><strong> name </td>
	<td width="50px"><strong> height </td>
	<td width="50px"><strong> weight </td>
	<td width="100px"><strong> birthDay </td>
	<td width="50px"><strong> position </td>
	<td width="50px"><strong> team </td> 
	</tr>
	{% for player in dbPlayers %}
		<tr>
	<td width="100px">{{ player.pname}} </td>
	<td width="50px">{{ player.height}} </td>
	<td width="50px">{{ player.weight}} </td>
	<td width="120px">{{ player.birthDay}}</td>
	<td width="50px">{{ player.pposition}} </td>
	<td width="50px">{{ player.team}} </td>
		</tr>
	{% endfor %}
</table>
<!---------TEAM--------------------------------------------->
<font size = "3" face="aharoni" color="003399">Team</font>
<table width="820px" border ="3" cellspacing ="2" cellpadding ="1" bgcolor="#66CCCC">
	<tr>
	<td width="100px"><strong> team name </td>
	<td width="50px"><strong> league </td>
	<td width="50px"><strong> city </td>
	<td width="50px"><strong> record </td>
	<td width="50px"><strong> address </td>
	</tr>
	
	{% for team in teams %}
		<tr>
	<td width="100px">{{ team.tname}} </td>
	<td width="50px">{{ team.league}} </td>
	<td width="50px">{{ team.city}} </td>
	<td width="">{{ team.record}}</td>
	<td width="">{{ team.sAddress}} </td>
		</tr>
	{% endfor %}
</table>
<!---------O_STATS--------------------------------------------->	
<font size = "3" face="aharoni" color="003399">Offensive Stats</font>
<table width="600x" border ="3" cellspacing ="2" cellpadding ="1" bgcolor="#66CCCC">
	<tr>
	<td width="100px"><strong> average </td>
	<td width="50px"><strong> slg </td>
	<td width="50px"><strong> obs </td>
	<td width="50px"><strong> ops </td>
	<td width="50px"><strong> hits </td>
	<td width="50px"><strong> 2B </td>
	<td width="50px"><strong> 3B </td>
	<td width="50px"><strong> HR </td>
	<td width="50px"><strong> RBI </td>
	<td width="50px"><strong> SB </td>
	</tr>	
		<tr>
	<td width="50px">{{ o_stats.average}} </td>
	<td width="50px">{{ o_stats.slg}} </td>
	<td width="50px">{{ o_stats.obs}} </td>
	<td width="50px">{{ o_stats.ops}} </td>
	<td width="50px">{{ o_stats.hits}} </td>
	<td width="50px">{{ o_stats.twoB}} </td>
	<td width="50px">{{ o_stats.threeB}} </td>
	<td width="50px">{{ o_stats.HR}} </td>
	<td width="50px">{{ o_stats.RBI}} </td>
	<td width="50px">{{ o_stats.SB}} </td>
		</tr>
</table>
<!---------P_STATS--------------------------------------------->
<font size = "3" face="aharoni" color="003399">Pitcher Stats</font>
<table width="500px" border ="3" cellspacing ="2" cellpadding ="1" bgcolor="#66CCCC">
	<tr>
	<td width="100px"><strong> W </td>
	<td width="50px"><strong> L </td>
	<td width="50px"><strong> ERA </td>
	<td width="50px"><strong> WHIP </td>
	<td width="50px"><strong> K </td>
	<td width="50px"><strong> BB </td>
	<td width="50px"><strong> SV </td>
	</tr>
		<tr>
	<td width="100px">{{ p_stat.W}} </td>
	<td width="100px">{{ p_stat.L}} </td>
	<td width="100px">{{ p_stat.ERA}} </td>
	<td width="100px">{{ p_stat.WHIP}} </td>
	<td width="100px">{{ p_stat.K}} </td>
	<td width="100px">{{ p_stat.BB}} </td>
	<td width="100px">{{ p_stat.SV}} </td>
		</tr>
</table>
<!---------------D_STATS--------------------------------------------->
<font size = "3" face="aharoni" color="003399">Defense Stats</font>
<table width="300px" border ="3" cellspacing ="2" cellpadding ="1" bgcolor="#66CCCC">
	<tr>
	<td width="100px"><strong> field percent </td>
	<td width="50px"><strong> errors </td>
	</tr>
		<tr>
	<td width="100px">{{ d_stat.fld_pct}} </td>
	<td width="100px">{{ d_stat.errors}} </td>
		</tr>
</table>
<!-----------UPDATE STATS----------------------------------------->
<br>
<br>
{% for player in dbPlayers %}
<form action="UpdatePlayer.html" method="post">{% csrf_token %}
<input type=hidden name="update-input" value = {{player.pname}}>
<input type=submit name="null" value="Update Players Information">
</form>

{% endfor %}
{% endif %}

<!--------------This creates a table to retrieve the new player---------------------->
{% if addPlayer %}
 
<font color="red">{{addPlayer}}</font>
 
<table width="800px">
<tr>
	<td width="160px"><strong> name </td>
	<td width="65px"><strong> height </td>
	<td width="75px"><strong> weight </td>
	<td width="150px"><strong> birthday </td>
	<td width="70px"><strong> position </td>
	<td width="115"><strong> team </td> 
	<td width=""><strong> player id </td> 
</tr>
</table>
<!-----INPUT------->
<table width="800px">
<tr>
<form action="AddProPlayer.html" method="post">{% csrf_token %}
<td><input type=text name="player-name" value="first and last name"></td>
<td><select name="height">
	<option value ="5.2">5.2 ft</option>
	<option value ="5.3">5.3 ft</option>
	<option value ="5.4">5.4 ft</option>
	<option value ="5.5">5.5 ft</option>
	<option value ="5.6">5.6 ft</option>
	<option value ="5.7">5.7 ft</option>
	<option value ="5.8">5.8 ft</option>
	<option value ="5.9">5.9 ft</option>
	<option value ="5.10">5.10 ft</option>
	<option value ="5.11">5.11 ft</option>
	<option value ="6.0">6.0 ft</option>
	<option value ="6.1">6.1 ft</option>
	<option value ="6.2">6.2 ft</option>
	<option value ="6.3">6.3 ft</option>
	<option value ="6.4">6.4 ft</option>
	<option value ="6.5">6.5 ft</option>
	<option value ="6.6">6.6 ft</option>
	<option value ="6.7">6.7 ft</option>
</select></td>
<td><select name="weight">
	<option value ="100">100 lbs</option> 
	<option value ="105">105 lbs</option> 
	<option value ="110">110 lbs</option> 
	<option value ="115">115 lbs</option> 
	<option value ="120">120 lbs</option> 
	<option value ="125">125 lbs</option> 
	<option value ="130">130 lbs</option> 
	<option value ="135">135 lbs</option> 
	<option value ="140">140 lbs</option> 
	<option value ="145">145 lbs</option> 
	<option value ="150">150 lbs</option> 
	<option value ="160">160 lbs</option> 
	<option value ="165">165 lbs</option> 
	<option value ="170">170 lbs</option> 
	<option value ="175">175 lbs</option> 
	<option value ="180">180 lbs</option> 
	<option value ="185">185 lbs</option> 
	<option value ="190">190 lbs</option> 
	<option value ="195">195 lbs</option> 
	<option value ="200">200 lbs</option> 
	<option value ="205">205 lbs</option> 
	<option value ="210">210 lbs</option> 
	<option value ="215">215 lbs</option> 
	<option value ="220">215 lbs</option> 
	<option value ="225">215 lbs</option> 
	<option value ="230">215 lbs</option> 
</select></td>
<td><input type=date name="birthday" value=""><t/d>
<td><select name="position"> 
	<option value ="LHP">LHP</option> 
	<option value ="RHP">RHP</option> 
	<option value ="1B">1B</option> 
	<option value ="2B">2B</option> 
	<option value ="3B">3B</option> 
	<option value ="SS">SS</option> 
	<option value ="INF">INF</option> 
	<option value ="1B/OF">1B/OF</option> 
	<option value ="OF">OF</option> 
	<option value ="CF">CF</option> 
	<option value ="C">C</option>
</select></td>
<!--<input type=text name="team">-->
<td><select name="team">
	<option value ='Giants'>Giants</option>
	<option value ="Dodgers">Dodgers</option> 
	<option value ="Diamondbacks">Diamondbacks</option> 
	<option value ="Padres">Padres</option> 
	<option value ="Rockies">Rockies</option> 
	<option value ="Reds">Reds</option> 
	<option value ="Cardinals">Cardinals</option> 
	<option value ="Brewers">Brewers</option> 
	<option value ="Pirates">Pirates</option> 
	<option value ="Cubs">Cubs</option> 
	<option value ="Astros">Astros</option> 
	<option value ="Nationals">Nationals</option> 
	<option value ="Braves">Braves</option> 
	<option value ="Phillies">Phillies</option> 
	<option value ="Mets">Mets</option> 
	<option value ="Marlins">Marlins</option> 
	<option value ="Athletics">Athletics</option> 
	<option value ="Rangers">Rangers</option> 
	<option value ="Angels">Angels</option> 
	<option value ="Mariners">Marineres</option> 
	<option value ="Tigers">Tigers</option> 
	<option value ="White Sox">White Sox</option> 
	<option value ="Royals">Royals</option> 
	<option value ="Indians">Indians</option> 
	<option value ="Twins">Twins</option> 
	<option value ="Yankees">Yankees</option> 
	<option value ="Orioles">Orioles</option> 
	<option value ="Rays">Rays</option> 
	<option value ="Blue Jays">Blue Jays</option> 
	<option value ="Red Sox">Red Sox</option> 
</select></td>
<td><input type=text name="id" value="put a random number"></td>
<td><input type=submit name="null" value="submit"></td>
</tr>
</table>

</form>
{% endif %}
<!----------------------------------------------------------------------->

</body>
</html> 
